* {
    box-sizing: border-box;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

h1.time {
    text-align: center;
    font-size: 8em;
    margin: -1em auto;
    font-family: 'Anek Latin', sans-serif;
}

h2.greeting{
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    margin: -1em auto;
    letter-spacing: 6px;
    font-family: 'Anek Latin', sans-serif;
}

div#crypto {
    font-size: 1.3rem;
    padding: 1em 2em;
    backdrop-filter: contrast(30%);
    font-family: 'Merriweather', serif;
}

div#crypto > p {
    margin: 0;
    padding: .25em;
}

div#crypto-top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

div#crypto-top > span {
    margin-left: 10px;
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-self:flex-start;
    backdrop-filter: contrast(30%);
    padding: 1em 0;
    font-size: 1.2em;
    font-family: 'Merriweather', serif;
}

div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 70%;
    text-align: center;
    margin: 0;
}

p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}